# Generic
.DS_Store
*.egg-info
*.pyc
*.csv
__pycache__
.vscode

# VirtualEnv
/env

# platform-resource-manager specific
pgos/pgos
eris/pgos
eris/lcmax.txt
eris/metrics.csv
eris/util.csv
eris/tdp_thresh.csv
eris/thresh.csv
eris/threshold.json
